.field {
  margin-top: 10%;
}

label {
  float: left;
  padding-top: 3%;
}

input {
  border: solid 0.8px white;
  float: right;
  background-color: #003b67;
  color: #fefcfa;
  width: 30%;
  font-size: 150%;
  text-align: center;
  font-weight: bold;
}

.slider {
  display: inline-block;
  margin-top: 5%;
  width: 80%;
}

.tooltip {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 3%;
  margin-top: 1%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
